<!DOCTYPE html>
<html>
<title>coriander</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>CORIANDER</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- crop entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://www.quickcrop.co.uk/site/uploads/sys_products/coriander.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Coriander </b></h3>
      
    </div>

    <div class="w3-container">
      <p>
Coriander (Coriandrum sativum L.) is an annual herb, mainly cultivated for its fruits as well as for the tender green leaves. It is native of the Mediterranean region. In India, it is grown in Andhra Pradesh, Tamil Nadu, Karnataka, Rajasthan and Madhya Pradesh. Major portion is though consumed locally; a small quantity is being exported now.
 </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
         
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- crop disease entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="https://img.huffingtonpost.com/asset/5936aed91d00002900cc167a.jpeg?ops=1910_1000" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>crop diseases</b></h3>
     
    </div>

    <div class="w3-container">
     <p> 
1.Wilt disease: Fusarium Oxysporum<br>
2.Coriander Powdery Mildew: Erysiphe polygoni<br>
3.Coriander Stem gall: Protomyces macrosporus<br>
     </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          
        </div>
      </div>
    </div>
  </div>
<!-- END crop diseases-->
</div>
<!-- pesticides -->
<div class="w3-col l4">

  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://img.crocdn.co.uk/images/products2/pl/10/00/00/01/pl1000000128.jpg?width=940&height=940" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Pesticides</b></h4>

      <p>
   Powdery mildew:<br>

     Seed treatment with Pseudomonas fluorescens (Pf 1) @ 10 g /kg and foliar spray of Pf1 2 g/lit or Spray Wettable sulphur 1 kg/ha or Dinocap 250 ml/ha at the time of initial appearance of the disease and 2nd spray at 10 days interval. Neem seed kernel extracts 5 % spray thrice (1st spray immediately after the appearance of disease, 2nd and 3rd at 10 days interval).
<br>
Wilt<br>
     Seed treatment with Pseudomonas fluorescens @10g /kg followed by soil application of Pf1 @ 5 kg /ha<br>

Grain mould<br>
     Grain mould can be controlled by spraying Carbendazim 0.1% (500 g/ha) 20 days after grain set.<br>

</p>
 <p><b>NOTE:ITS BETTER TO USE ORGANIC PESTICIDSES FOR BETTER FARMING PRACTICES AND YIELDS</b></p>
</div>
  </div><hr>
  
  <!-- preventive measures -->
 
  <hr> 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://hermitageoils.com/wp-content/uploads/2015/10/cilantro-coriander-leaf-essential-oil.jpg" alt="Norway" style="width:100%">
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b> Preventive Measures:</b>
<p>
Prepare the main field to a fine tilth.<br>

Add FYM 10 t/ha before last ploughing.<br>

Form beds and channels (for irrigated crop).<br>

Show the split seeds at a spacing of 20 x 15 cm.<br>

Spray pre-emergence herbicide Fluchloralin 700 ml in 500 lit of water per ha .<br>

The seeds will germinate in about 8-15 days.<br>
</p>
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Coriandrum_sativum_Blossoms3.jpg/800px-Coriandrum_sativum_Blossoms3.jpg" alt="Norway" style="width:100%">
      
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b>Water Conditions:</b>
        <p>
First irrigation should be given immediately after sowing and the second on the third day and subsequent irrigations

at 7-10 days interval.
</p>
   </li>   
      
      
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 


<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 
</footer>

</body>
</html>
