<!DOCTYPE html>
<html>
<title>East Godavari</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("http://www.calatacorp.com/panel/_files/modbuild/slider1-rice_plant_with_cloud_v3.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#crops" class="w3-button w3-block w3-black">CROPS</a>
    </div>
    <div class="w3-col s3">
      <a href="#plantfood" class="w3-button w3-block w3-black">PLANT FOOD</a>
    </div>
    <div class="w3-col s3">
      <a href="#helpline" class="w3-button w3-block w3-black">HELPLINE</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">EAST GODAVARI</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="crops">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Prominent Crops</span></h5>
<p><a href="bajra.html">Bajra</a></p>   
 
    <p><a href="maize.html">Maize</a></p>
    <p><a href="red gram.html">Red Gram</a></p>
    <p><a href="greengram.html">Green Gram</a></p>
    <p><a href="bengalgram.html">Bengal Gram</a></p>
   <p><a href="sesame.html">Sesame</a></p>
   <p><a href="sugarcane.html">SugarCane</a></p>
    <div class="w3-panel w3-leftbar w3-light-grey">
 
      <p><i>East Godavari District occupies a prominent place with regard to fisheries and fishery sector in A.P and endowed with rich Marine, Inland and Brackish water Fishery Resources.</i></p>
      <p>For more info regarding fish farming go to http://apfisheries.gov.in/</p>
    </div>
    <img src="https://assets.lybrate.com/imgs/product/health-wiki/bpages/Benefits-Of-Bajra-(Millet).jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
   
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="plantfood">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Plant Food</span></h5>
  
    <div class="w3-row w3-center w3-card w3-padding">
     
  <iframe width="560" height="315" src="https://www.youtube.com/embed/kCIYZPeTgpI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="helpline" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">HELPLINE</span></h5>
    <p>Kisan Suvida : 18001801551</p>
   <p> Agriculture Department, Gov't of Andhra Pradesh. </p>
<p>Commissioner and Director of Agriculture Department,</p>
<p>Old Mirchi Yard</p>
<p>Nallapadu Road, Chuttagunta,</p>
<p>Guntur- 522004.</p>
  </div>
</div>




</body>
</html>
