<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

<h2><font size="8"><center><b>Gel based pest control could become order of the day</b></center></font></h2>


<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201303/pesticide-muddle-1_660_032813015033.jpg"  style="width:1500px;height:600px;">

<p><font size="4">
Scientists have used state-of-the-art technology to evolve gel-based carriers known as nanogels that carry pheromones to repel pests Consignments 
of Indian fruit and vegetables often face quarantine restrictions or rejections in export markets because of pest infestation or high pesticide residues. In the domestic market, too, unsafe levels of pesticide residues in food items have become a major concern, inviting injunctions from courts to curb this menace. The solution lies in finding and promoting safer, preferably non-toxic means of pest control. Options for implementing this include the use of bio-pesticides or natural enemies (predators) of the pests; hot and cold treatment and irradiation of the produce; and equipping plants with inbuilt resistance against pests and diseases through genetic modification, among others. However, most of these methods have their own limitations that restrict their usage.</font></p>
<p><font size="4">To get over these constraints, scientists have now used state-of-the-art nanotechnology to evolve hassle-free gel-based carriers for pheromones called nanogels. They have been found to be the most convenient option for field application of pheromones in all seasons, regardless of the temperature or humidity. Besides, they are easy to transport and do not require specialised storage. Pheromones absorbed in nanogels are released slowly over an extended period to provide longer-term protection against pests. Nanogels are now also used in human and animal health care for slow delivery of drugs in the required quantity to targeted spots in the body. In pest control, too, pheromone-doped nanogels have displayed the ability to release pheromones gradually in the needed quantity.
</font></p>
<p><font size="4">The technology for preparing these nanogels for agricultural use has been evolved by a team of scientists belonging to the Bengaluru-based Indian Institute of Science and the National Bureau of Agricultural Insect Resources (NBAIR) of the Indian Council of Agricultural Research. "This simple, practical and low-cost environment-friendly method of pest management has a significant potential for crop protection due to its long-lasting beneficial activity, excellent efficacy and favourable safety profile", says NBAIR senior scientist Deepa Bhagat, who was part of the team that invented the nanogel.
</font></p>

</body>
</html>
