<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

<h2><font size="8"><center><b>A Price Stabilisation Fund to help farmers in distress</b></center></font></h2>


<img src="https://us.123rf.com/450wm/superelaks/superelaks1610/superelaks161000031/66910289-cash-register-and-the-bill-on-a-wooden-table-with-vegetables.jpg?ver=6"  style="width:1500px;height:600px;">

<p><font size="4">
Since horticultural produce do not have an MSP, this fund can be used to create linkages and infrastructure Prices of horticultural commodities witness a wide.
fluctuation in India. There have been instances in the recent past when prices escalated and the produce became unaffordable for consumers especially in the case of vegetables such as onion, potato and tomato. There have also been cases where farmers could not sell their produce in the mandi and preferred to dump their produce on highways due to low prices. To overcome these problems, the Centre’s recent move to introduce a Price Stabilisation Fund would give a fillip to horticultural production as well as market stabilisation.</font></p>
<p><font size="4">It has been a common practice among Indian farmers to move towards a particular crop which fetches higher price in the market during the sowing season. This leads to oversupply in the market and low prices. In addition, other factors such as poor monsoon, dearth of inputs and technology, policies influencing decision related to area allocation, etc., lead to fluctuation in production and finally to volatile prices.
</font></p>
<p><font size="4">The Government may have three types of agricultural policies to influence price behaviour, namely production policies (influencing production), trade policies (export/import policy influences domestic supplies) and direct price stabilisation policies such as buffer stocks, emergency reserves, price controls, and prohibition of private trade.
Out of the various public interventions, only creation of stocks under direct price stabilisation policies has shown some result. 
For horticultural commodities, an MSP-like policymay not be very effective as these are highly perishable. Also, while agricultural commodities procured by government are distributed to consumers under the Public Distribution System, there is no such provision for horticultural commodities. 
</font></p>

</body>
</html>
