<!DOCTYPE html>
<html>
<title>sesame</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>SESAME</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- crop entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="http://extension.msstate.edu/sites/default/files/20150123_sesame300.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Sesame crop</b></h3>
      
    </div>

    <div class="w3-container">
      <p>
Sesame is a flowering plant in the genus Sesamum, also called benne. Numerous wild relatives occur in Africa and a smaller number in India. It is widely naturalized in tropical regions around the world and is cultivated for its edible sesame seeds, which grow in pods or "buns" 
 </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
         
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- crop disease entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="http://1.bp.blogspot.com/-k78moP6qJW8/TduNSl6qELI/AAAAAAAAAZE/VNq8e-2CjdA/s1600/2POWDERY+MILDEW.jpg" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>crop diseases</b></h3>
     
    </div>

    <div class="w3-container">
     <p> 
1.Bacterial blight: Xanthomonas campestris pv. sesami.<br>
2.Cercospora leaf spot / White spot: Cercospora sesami, C. sesamicola.<br>
3.Damping off / Root Rot: Macrophomina phaseolina.<br>
4.Powdery mildew: Oidium sp., Sphaerotheca fuliginia, Leveillula sp.<br>
5.Sesamum phyllody: Phytoplasma.<br>
6.Root rot: Fusarium oxysporum f.sp.sesami.<br>
     </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          
        </div>
      </div>
    </div>
  </div>
<!-- END crop diseases-->
</div>
<!-- pesticides -->
<div class="w3-col l4">

  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDyHFBsCgBVh2337MRHdSi4txGDNw2xO44cYNWhgqUdG7ZYKiv" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Pesticides</b></h4>

      <p>
   Among biotic stress, sesame phyllody is the most destructive disease in India. In some tracts phyllody cause crop losses as high as 99 percent in yield. Efficacy of some plant product and insecticides against Jassids (vector of phyllody) was tested, during summer 2013 and used verity JTS-8

</p>
 <p><b>NOTE:ITS BETTER TO USE ORGANIC PESTICIDSES FOR BETTER FARMING PRACTICES AND YIELDS</b></p>
</div>
  </div><hr>
  
  <!-- preventive measures -->
 
  <hr> 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnenNVS2U4bU1XMFetLrpFi9PI406vxpWX_B5PKpc7aBsQsyIxLA" alt="Norway" style="width:100%">
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b> Preventive Measures:</b>
<p>
Because of their slow early growth, sesame plants are poor competitors against weeds. Select fields with low weed densities.<br>

1. Mechanical: Cultivate sesame fields early and as close to the rows as possible. Shallow cultivation is recommended, because the fine, fibrous sesame roots grow close to the surface and are easily damaged. Early cultivation causes seedlings to grow faster, possibly as a result of improved soil aeration. After the plants reach a height of 3 or 4 in., they grow rapidly. Cultivate only as necessary to control weeds.
<br>
2. Chemical: No herbicides are currently registered in Wisconsin or Minnesota for use on sesame. In other areas the pre-emergence herbicides alachlor (Lasso) and trifluralin (Treflan) have been used successfully for weed control in sesame. Growers should check current labels for use of these or other products in their growing area.
</p>
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTACsRvhIGInVy75XHS4MNrr6TMnxFS-rntUbnchCkOxYTjCJiWXA" alt="Norway" style="width:100%">
      
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b>Water Conditions:</b>
        <p>
esame is intolerant of very acidic or saline soils. ... water requirement can be met from available soil moisture at sowing, rainfall during the growing season and irrigation. Hail and frost cause severe damage to sesame crops.
</p>
   </li>   
      
      
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 


<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 
</footer>

</body>
</html>
