<!DOCTYPE html>
<html>
<title>siddipet</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("http://agritech.tnau.ac.in/agriculture/images/coc_sugarcane.jpg");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#crops" class="w3-button w3-block w3-black">CROPS</a>
    </div>
    <div class="w3-col s3">
      <a href="#plantfood" class="w3-button w3-block w3-black">PLANT FOOD</a>
    </div>
    <div class="w3-col s3">
      <a href="#helpline" class="w3-button w3-block w3-black">HELPLINE</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">SIDDIPET</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="crops">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Prominent Crops</span></h5>

    <p><a href="paddy.html">Paddy</a></p>
    <p><a href="sugarcane.html">Sugarcane</a></p>
    <p><a href="maize.html">Maize</a></p>
    <p><a href="ragi.html">Ragi</a></p>


    <div class="w3-panel w3-leftbar w3-light-grey">
 
      <p><i>Along with these castor,jowar and pulses are also grown in some areas.</i></p>
      
    </div>
    <img src="https://s3.envato.com/files/100278859/Image%20Preview.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
   
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="plantfood">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">Plant Food</span></h5>
  
    <div class="w3-row w3-center w3-card w3-padding">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/XKvWUgF57FQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="helpline" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">HELPLINE</span></h5>
    <p>Kisan Suvida : 1800-180-1551</p>
   <p> Agriculture Department, Gov't of Telangana. </p>
<p>Commissioner and Director of Agriculture Department,</p>
<p>Address: MANAGE, Rajendranagar, Hyderabad - 500 030, Telangana.</p>
  </div>
</div>




</body>
</html>
