<!DOCTYPE html>
<html>
<body style="background-color:lightgrey;">

<h2><font size="8"><center><b>Check soil health before use of fertilisers</b></center></font></h2>


<img src="http://cf.ltkcdn.net/garden/images/std/112058-400x266-Potting-Soil-With-Seedling.jpg"  style="width:1500px;height:600px;">



<p><font size="4">
Areports of farmer suicides. In an interview, Union agriculture minister Radha Mohan Singh comments on these issues. Edited excerpts: The recently released ‘Key Indicators of Situation of Agricultural Households in India’ shows that the lot of Indian farmers has not changed in the past decade. How will you remedy this situation? Being a farmer, I admit this is the reality. The country might have progressed, but a village and a farmer’s life have not improved. There is no doubt we are self-sufficient in foodgrains production, but we have not addressed problems of low productivity, rising costs of cultivation, lack of irrigation and giving farmers improved varieties. No schemes were taken up in mission mode to solve these issues.</font></p>
<p><font size="4">Nabard (National Bank for Agriculture and Rural Development) is in charge of implementing the credit scheme for landless farmers. I don’t know the
New thrust: exact numbers, but the finance minister has said the scheme is well on target. A farmer knows that you cannot harvest the day you sow the seeds. Results of our initiatives will show in a few years. Last year in Vidarbha and Telangana, more than 1,000 farmer suicides were reported. Your ministry is yet to act. Only 9% of farmer suicides are linked to agrarian distress. Of nearly 500 farmer suicides last year, 411 were in Maharashtra. Final numbers are yet to arrive. In Maharashtra, I have personally seen that (past) irrigation schemes were not executed. In the coming weeks I will meet MPs (members of Parliament) from Marathwada and Vidarbha regions, and the Maharashtra chief minister to fast-track agricultural schemes.
</font></p>
<p><font size="4">In Telangana, farmers grow cotton in unsuitable soil without irrigation. Deficit monsoon and slump in prices have aggravated the misery. What did the government do? As far as cotton is concerned, the textiles ministry has done record procurement this year. Globally, prices have crashed after China stopped imports. We started procurement with Andhra Pradesh and Telangana as the cotton crop is harvested there earlier than states like Gujarat. The government has acted promptly to ensure farmers do not sell below minimum support prices.
Rest of the problems—lack of irrigation and information on soils—are past sins. There is also a failure of extension services— lack of manpower and no coordination between KVKs and district agriculture officials. We formed a committee to probe the problem with KVKs—the report shows lack of infrastructure and scientists.
</font></p>











</body>
</html>
