<!DOCTYPE html>
<html>
<title>tobacco</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>TOBACCO</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- crop entries -->
<div class="w3-col l8 s12">
  <!-- crop entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="https://img.mshanken.com/d/cao/bolt/2018-02/pinar-del-rio-1600.jpg" alt="Nature" style="width:100%">
    <div class="w3-container">
      <h3><b>Tobacco crop</b></h3>
      
    </div>

    <div class="w3-container">
      <p>
Tobacco is a product prepared from the leaves of the tobacco plant by curing them. ... While more than 70 species of tobacco are known, the chief commercial crop is N. tabacum. The more potent variant N. rustica is also used around the world.
 </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
         
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- crop disease entry -->
  <div class="w3-card-4 w3-margin w3-white">
  <img src="http://www.sciencemag.org/sites/default/files/styles/article_main_large/public/images/tobacco.jpg?itok=pEEZgcUD" alt="Norway" style="width:100%">
    <div class="w3-container">
      <h3><b>crop diseases</b></h3>
     
    </div>

    <div class="w3-container">
     <p> 
 Black shank (fungus Phytophthora parasitica var. nicotianae)<br>
 Nematodes (root-knot Meloidogyne spp.)<br>
Damping off (fungi Pythium spp.; Rhizoctonia solani)<br>
 Brown spot (fungus Alternaria alternata)<br>
 Angular leaf spot (bacterium Pseudomonas angulata)<br>
 Tobacco Mosaic Virus<br>
 Bacterial wilt, Granville wilt (bacterium Pseudomonas solanacearum)<br>
 Blue mold (fungus Peronospora tabacina)<br>
 Weather fleck<br>

     </p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          
        </div>
        <div class="w3-col m4 w3-hide-small">
          
        </div>
      </div>
    </div>
  </div>
<!-- END crop diseases-->
</div>
<!-- pesticides -->
<div class="w3-col l4">

  <div class="w3-card w3-margin w3-margin-top">
  <img src="https://kentuckypestnews.files.wordpress.com/2015/07/foliar-tobacco-diseases-fig-3.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Pesticides</b></h4>

      <p>
   Tobacco fields are no longer a haven for weeds and insects. With FMC crop protection products, pests are the last thing you will see in your fields. We have preemergent herbicides that control annual broadleaf weeds and grasses, such as crabgrass, panicum, shattercane, nightshade, pigweed and smartweed. We also feature at-plant and foliar insecticides to control destructive pests for optimum tobacco production.

</p>
 <p><b>NOTE:ITS BETTER TO USE ORGANIC PESTICIDSES FOR BETTER FARMING PRACTICES AND YIELDS</b></p>
</div>
  </div><hr>
  
  <!-- preventive measures -->
 
  <hr> 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTelZNVc24KH9H8i5fBvGQ9Do9xtaXy2XbBS9KNgJ7-8Yc3xOzi" alt="Norway" style="width:100%">
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b> Preventive Measures:</b>
<p>
Deep ploughing in summer destroys the fungus.<br>
Preparation is of raised seed beds 15 cm high with channels around to provide drainage.<br>
Rubbing the seed bed before sowing with slow burning farm waste materials like paddy husk, tobacco stubbles, waste grass, etc.<br>
Seed rate @ 3.5 kg/ha is to be used to avoid overcrowding of seedlings.<br>
Watering are regulated to avoid excessive dampness on the bed surface.<br>
</p>
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 
   <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
    <div class="w3-card-4 w3-margin w3-white">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUu7nT-tC6JJRFYRimQLmFK6m6Y9r3b4WsInag7zcguK48jCvC" alt="Norway" style="width:100%">
      
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        
        <span class="w3-large"><b>Water Conditions:</b>
        <p>
The tobacco water requirement throughout the growth period in pot experiments ranged from 159.00 to 278.90 mm (Table 2), while it ranged from 400 to 600 mm in field production (Chen et al., 1995, Gao, 2006, Li et al., 2008), much higher than in pot experiments. He (2004) demonstrated that the tobacco water requirement was 45 mm at the elongation stage in a pot experiment, while it was 58 mm in field production. In pot experiments, the tobacco water requirement ranked the highest at the mature stage, followed by those at the group/vigorous growing and rejuvenation stages, while it ranked the highest at the group stage in field production, followed by the tobacco water requirement at the vigorous growing stage.

</p>
   </li>   
      
      
      
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        
      </li>  
    </ul>
    
          
  </div>
  <hr> 
 


<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">
 
</footer>

</body>
</html>
